doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title
    = htmlWebpackPlugin.options.title
  meta(name='viewport' content='width=device-width, initial-scale=1')
img(src=require('./images/desktop.png') alt='')
p#primary_desc.primary_desc Hello From pug
#react-root
